<section id="experience">
  <h1 class="experience__heading">Experience</h1>

  {% for job in collections.jobs %}

  <div class="experience__content">
    <div class="experience__left">
      <div class="experience__title">{{ job.data.title }}</div>
      <div class="experience__company">{{ job.data.company }}</div>
      <div class="experience__text">{{ job.templateContent | safe }}</div>
    </div>
    <div class="experience__right">
      {{ job.data.startdate | makeDate }} - {{ job.data.enddate | makeDate }}
    </div>
  </div>
  {% if job.data.thumbnail %}
  <div class="experience__image">
    <img src="{{ job.data.thumbnail }}" alt="" />
  </div>
  {% endif %} {% endfor %}
</section>
