<section id="experience">
  <h1 class="experience__title">Experience</h1>

  {% for job in collections.jobs %}

  <div class="experience__title">{{ job.data.jobtitle }}</div>
  <div class="experience__company">{{ job.data.company }}</div>
  {{ job.templateContent | safe }}

  {% endfor %}
</section>
