* {
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Saira+Extra+Condensed:wght@500;700&display=swap");

/* html {
  scroll-behavior: smooth;
} */

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Mulish", system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif;
}

.img_container {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  overflow: hidden;
  border: 10px solid rgba(255,255,255,0.50196)
}

.img_container img {
    width: 100%;
  }

header {
  width: 270px;
  background-color: #bd5d38;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

nav ul {
  padding: 0;
}

nav li {
  margin-top: 16px;
  text-align: center;
  list-style: none;
  text-transform: uppercase;
  font-weight: 800;
}

nav a {
  text-decoration: none;
  color: rgba(255,255,255,0.50196)
}

nav a:hover {
    color: rgba(255,255,255,0.66667);
  }

nav a.active {
    color: white;
  }

#about,
#experience,
#education,
#skills {
  margin-left: 270px;
  padding-left: 48px;
  padding-right: 48px;
  padding-top: 90px;
  padding-bottom: 90px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: 1px solid rgba(108,117,125,0.31373);
}

.social-icons,
.skills-icons {
  display: flex;
  margin-top: 48px;
}

svg {
  fill: #495057;
}

svg:hover {
    fill: #bd5d38;
  }

svg {
  cursor: pointer;
  /* margin-right: 24px; */
}

.icon {
  width: 48px;
  height: 48px;
}

.icon svg {
    fill: #495057
  }

.icon svg:hover {
      fill: #bd5d38;
    }

.icon {
  cursor: pointer;
  margin-right: 24px;
}

.about__name {
  font-family: "Saira Extra Condensed", sans-serif;
  font-weight: 700;
  font-size: 4rem;
  text-transform: uppercase;
  color: #495057;
  font-stretch: semi-condensed;
}

.about__name .pippo {
    color: #bd5d38;
  }

.about__name {
  margin: 0;
  margin-bottom: 0.25rem;
}

.about__address {
  font-family: "Saira Extra Condensed", sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  font-style: normal;
  font-stretch: semi-condensed;
  text-transform: uppercase;
  color: #495057;
  display: inline-block;
  margin-bottom: 3rem;
}

.about__email {
  font-family: "Saira Extra Condensed", sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  font-style: normal;
  font-stretch: semi-condensed;
  text-transform: uppercase;
  color: #bd5d38;
  display: inline-block;
}

.about__text,
.experience__text,
.education__text,
.skills__text {
  color: #6c757d;
}

.about__text {
  font-size: 18px;
}

.experience__heading,
.education__heading,
.skills__heading {
  font-family: "Saira Extra Condensed", sans-serif;
  font-weight: 700;
  font-size: 3rem;
  text-transform: uppercase;
  color: #495057;
  font-stretch: semi-condensed;
  margin: 0;
}

.experience__content,
.education__content {
  display: flex;
  justify-content: space-between;
  margin-top: 4rem;
}

.skills__content {
  margin-top: 4rem;
}

.experience__title,
.education__title,
.skills__title {
  font-family: "Saira Extra Condensed", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  text-transform: uppercase;
  color: #495057;
  font-stretch: semi-condensed;
}

.experience__company,
.education__school {
  font-family: "Saira Extra Condensed", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #6c757d;
  font-stretch: semi-condensed;
}

.experience__right,
.education__right {
  color: #bd5d38;
  flex-shrink: 0;
}

.experience__image,
.education__image {
  max-width: 30%
}

.experience__image img, .education__image img {
    width: 100%;
  }
