<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <header>
      <div class="img_container">
        <img src="/img/photo for website.png" alt="myself" />
      </div>
      <nav>
        <ul>
          <li><a href="/">About</a></li>
          <li><a href="#experience">Experience</a></li>
          <li><a href="#education">Education</a></li>
          <li><a href="#skills">Skills</a></li>
          <li><a href="#interests">Interests</a></li>
          <li><a href="#awards">Awards</a></li>
        </ul>
      </nav>
    </header>
    {{ content | safe }}
  </body>
</html>
